@{
    String _viewID = ViewBag.ViewID as String ?? $"msg{DateTime.Now.Ticks}";
}

<div id="@(_viewID)" title="系統訊息" class="bg-color-darken">
    <div class="panel panel-default bg-color-darken">
        <div class="panel-body status smart-form vote">
            <div class="who clearfix">
                @RenderSection("Message")
            </div>
        </div>
    </div>
    <script>
            $('#@(_viewID)').dialog({
                width: "auto",
                height: "auto",
                resizable: true,
                //modal: true,
                closeText: "關閉",
                title: "系統訊息",
                buttons: [{
                    html: "關閉",
                    "class": "btn btn-primary",
                    click: function () {
                        $('#@(_viewID)').dialog("close");
                    }
                }],
                close: function (evt, ui) {
                    $('#@(_viewID)').remove();
                }
            });
    </script>
</div>
