@using System.IO
@using System.Linq.Expressions
@using System.Reflection

@using Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@{
    object _model;
    _model = (object)this.Model;
}
<tr>
    @{
        foreach (PropertyInfo pi in _model.GetType().GetProperties())
        {
            <td>@(pi.GetValue(_model, null))</td>
        }
    }
</tr>




