@using System.IO
@using System.Linq.Expressions

@using Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@{

    JToken _model;

    _model = (JToken)this.Model;
}
<tr>
    @foreach (JProperty item in _model)
    {
        <td>@(item.Value)</td>
    }
</tr>




