@using System.IO
@using System.Linq.Expressions
@using Utility
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@{
    JArray _model;
    _model = (JArray)this.Model;
}
<div class="border_gray" style="overflow-x: auto; max-width: 1024px;">
    @{
        var recordCount = _model.Count();
    }
    @if (recordCount > 0)
    {
        dynamic building = _model[0] as dynamic;
        if (Utility.ExtensionMethods.GetEfficientString(building.building_id.ToString()) != null)
        {
            WebHome.Properties.AppSettings.Default.BuildingID = building.building_id;
        }
        if (Utility.ExtensionMethods.GetEfficientString(building.floor_id.ToString()) != null)
        {
            WebHome.Properties.AppSettings.Default.FloorID = building.floor_id;
        }
        Html.RenderPartial("~/Views/Outbound/BuildingInfo/ItemList.cshtml", _model);
    }
    else
    {
        <font color="red">查無資料!!</font>
    }
</div>


