@using System.IO
@using System.Linq.Expressions
@using System.Web.Optimization
@using System.Web.Mvc
@using System.Web.Mvc.Html

@using WebHome.Models
@using WebHome.Models.DataEntity
@using WebHome.Controllers
@using WebHome.Models.ViewModel
@using Utility
@{
    ViewBag.Title = "Message Center";
    ModelSource<LiveDevice> models = ((SampleController<LiveDevice>)ViewContext.Controller).DataSource;
    QueryViewModel _viewModel = ViewBag.ViewModel as QueryViewModel;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Message Center</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="住戶訊息中心" />
    <meta name="author" content="" />

    <!-- Bootstrap 5 CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" type="text/css" />
    <!-- Font Awesome 6 -->
    <link rel="stylesheet" href="~/Content/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome/css/v4-font-face.min.css" />

    @{
        Html.RenderPartial("~/Views/Shared/CommonScriptInclude.cshtml");
    }
    @if (_viewModel != null)
    {
        <script>
            $(function () {
                $global.viewModel = @Html.Raw(_viewModel.JsonStringify());

                for (var i = 0; i < $global.onReady.length; i++) {
                    $global.onReady[i]();
                }
            });
        </script>
    }
    @RenderSection("headContent", false)
</head>
<body>
    <div id="wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
</body>
</html>