.itemList {
    min-width: 100%;
}

    .itemList th {
        white-space: nowrap;
    }

    .itemList td {
        white-space: nowrap;
    }

    .itemList tr:nth-child(even) {
        background: #FDF5E6;
    }

.error-msg {
    color: red;
    font-style: italic;
    border: 1px dotted red;
}