<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MessageAgent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WebHome.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="MessageCenterConnectionString" connectionString="Data Source=VM-Titan\sqlexpress,1433;Initial Catalog=MessageCenter;Integrated Security=True;Encrypt=False;Trust Server Certificate=True" providerName="System.Data.SqlClient" />
		<add name="dnake" connectionString="Server=localhost;Port=4406;Database=dnake;Uid=root;Pwd=;charset=utf8;" providerName="MySql.Data.MySqlClient" />
		<add name="WebHome.Properties.Settings.dnake" connectionString="Server=localhost;Port=4406;Database=dnake;Uid=root;Pwd=;charset=utf8;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<applicationSettings>
        <MessageAgent.Properties.Settings>
            <setting name="CheckMessageIntervalInMinutes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CurrentMsgKey" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PushMessageUrl" serializeAs="String">
                <value>http://localhost:17185/InfoCenter/PushMessage</value>
            </setting>
            <setting name="BatchJobIntervalInSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AWTEK_MQ" serializeAs="String">
                <value>EXAWTKMQ</value>
            </setting>
            <setting name="AWTEK_MQ_Only" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseJobLauncher" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlarmReportIntervalInSeconds" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ModbusServerPort" serializeAs="String">
                <value>5502</value>
            </setting>
        </MessageAgent.Properties.Settings>
        <WebHome.Properties.Settings>
            <setting name="CenterID" serializeAs="String">
                <value>AWTK</value>
            </setting>
            <setting name="PRMType" serializeAs="String">
                <value>EXAWTK</value>
            </setting>
            <setting name="PRMUsed" serializeAs="String">
                <value>756001</value>
            </setting>
            <setting name="GetAuthToken" serializeAs="String">
                <value>http://211.23.68.235:8188/service/SecomBAService.svc/authorization/query</value>
            </setting>
            <setting name="GetBuildingInfo" serializeAs="String">
                <value>http://211.23.68.235:8188/service/SecomBAService.svc/building/query</value>
            </setting>
            <setting name="InsertDevice" serializeAs="String">
                <value>http://211.23.68.235:8188/service/SecomBAService.svc/device/insert_1</value>
            </setting>
            <setting name="UpdateDevice" serializeAs="String">
                <value>http://211.23.68.235:8188/service/SecomBAService.svc/device/update_1</value>
            </setting>
            <setting name="DeleteDevice" serializeAs="String">
                <value>http://211.23.68.235:8188/service/SecomBAService.svc/device/delete</value>
            </setting>
            <setting name="ValidTokenDurationInMinutes" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="WebHome_BA_Service_sr_BA_DeviceWebService" serializeAs="String">
                <value>http://211.23.68.235:8188/service/sr_BA_DeviceWebService.asmx</value>
            </setting>
            <setting name="DeviceHeartBeatPeriodInMinutes" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="JobSchedulerInMilliseconds" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="LeaderID" serializeAs="String">
                <value />
            </setting>
            <setting name="QueryAllDevices" serializeAs="String">
                <value>http://211.23.68.235:8188/service/SecomBAService.svc/device/query_1</value>
            </setting>
            <setting name="CheckEventIntervalInSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CommunicationMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TouchLifeOutbound" serializeAs="String">
                <value>http://nsst.tw:8080/c148/monitor/intercom.php</value>
            </setting>
            <setting name="HostUrl" serializeAs="String">
                <value>http://localhost:17185</value>
            </setting>
            <setting name="GetResidentInfo" serializeAs="String">
                <value>http://211.23.68.235:8188/service/SecomBAService.svc/resident/query</value>
            </setting>
            <setting name="GetResidentMessage" serializeAs="String">
                <value>http://211.23.68.235:8188/service/SecomBAService.svc/message_board/query</value>
            </setting>
            <setting name="EnergyDegreeQuery" serializeAs="String">
                <value>http://211.23.68.235:8188/service/SecomBAService.svc/energy/degree/query</value>
            </setting>
            <setting name="EnergyDegreeUpdate" serializeAs="String">
                <value>http://211.23.68.235:8188/service/SecomBAService.svc/energy/degree/udate</value>
            </setting>
            <setting name="EnergyDegreeInsert" serializeAs="String">
                <value>http://211.23.68.235:8188/service/SecomBAService.svc/energy/degree/insert</value>
            </setting>
            <setting name="EnergyDegreeDelete" serializeAs="String">
                <value>http://211.23.68.235:8188/service/SecomBAService.svc/energy/degree/delete</value>
            </setting>
            <setting name="MessageCenter_BA_Service_sr_BA_DeviceWebService" serializeAs="String">
                <value>http://211.23.68.235/service/sr_BA_DeviceWebService.asmx</value>
            </setting>
        </WebHome.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.1.0" newVersion="2.9.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7.0" newVersion="1.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.11.2.0" newVersion="3.11.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
