

@using System.IO
@using System.Linq.Expressions

@using WebHome.Controllers
@using WebHome.Helper
@using WebHome.Models
@using WebHome.Models.DataEntity
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using Utility
@using Newtonsoft.Json
@{

    ModelSource<LiveDevice> models;
    DeviceQueryViewModel _viewModel;

    models = ((SampleController<LiveDevice>)ViewContext.Controller).DataSource;
    _viewModel = (DeviceQueryViewModel)ViewBag.ViewModel;
}

<div class="border_gray queryAction">
    <!--表格 開始-->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="left_title">
        <tr>
            <th>
                住戶識別碼(resident ID)
            </th>
            <td class="tdleft" colspan="3">
                <input type="text" name="ResidentID" value="@(_viewModel.ResidentID.GetEfficientString())" />
            </td>
        </tr>
    </table>
    <!--表格 結束-->
</div>
<div>
    <div class="row">
        <div class="col-md-3">
            <img src="~/images/TaxiOrder_01.png" style="width:180px;" />
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-2">
                    <label class="label-info">服務單位</label>
                </div>
                <img src="~/images/TaxiOrder_02.png" />
            </div>
            @*<hr />
            <div class="row">
                <div class="col-md-2">
                    <label class="label-info">日期</label>
                </div>
                <div class="col-md-2">
                    <input type="text" name="BookDate" class="form-date" size="10" />
                </div>
                <div class="col-md-2 text-right">
                    <label class="label-info">時間</label>
                </div>
                <div class="col-md-3 input-group">
                    <select name="Hour">
                        @for (int i = 0; i < 24; i++)
                        {
                            <option value="@(i)">@($"{i:00}")</option>
                        }
                    </select> 點
                    <input type="text" name="Minute" size="4" /> 分
                </div>

            </div>*@
            <hr />
            <div class="row">
                <div class="col-md-2">
                    <label class="label-info">地址</label>
                </div>
                <div class="input-group">
                    <input type="text" name="City" size="6" />(市／縣)
                    <input type="text" name="District" size="6" />(區／市／鎮／鄉)
                    <input type="text" name="Road" size="6" />(路／街)<br />
                    <input type="text" name="Section" size="6" />段
                    <input type="text" name="Lane" size="6" />巷
                    <input type="text" name="Alley" size="6" />弄
                    <input type="text" name="No" size="6" />號
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-2">
                    <label class="label-info">客戶資訊</label>
                </div>
                <div class="col-md-10 input-group">
                    <div class="col-md-4">
                        姓名：<input type="text" name="CustName" size="10" />
                    </div>
                    <div class="col-md-4">
                        電話：<input type="text" name="CustPhone" size="10" />
                    </div>
                    <div class="col-md-4">
                        稱謂：<input type="text" name="CustTitle" size="6" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-2">
                    <label class="label-info">其它</label>
                </div>
                <div class="col-md-10 input-group">
                    <div class="col-md-4">
                        叫車數量：
                        <select name="Amount">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        付款方式：
                        <select name="PaidType">
                            <option value="1">信用卡</option>
                            <option value="2">乘車券</option>
                            <option value="7">LINE Pay</option>
                            <option value="10">銀聯付款</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        備註：<input type="text" name="Memo" size="10" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row text-center">
                <button class="btn" type="button" onclick="dispatchOrder();">送出</button>
            </div>
        </div>
    </div>
</div>
<script>
    function dispatchOrder() {

        $('form.queryForm').ajaxForm({
            url: "@(Url.Action("DispatchOrder","TaiwanTaxiAgent"))",
            beforeSubmit: function () {
                showLoading();
            },
            success: function (data) {
                hideLoading();
                if ($.isPlainObject(data)) {
                    alert(data.message);
                } else {
                    $(data).appendTo($('body'));
                }
            },
            error: function () {
                hideLoading();
            }
        }).submit();
    }
</script>


