

@using System.IO
@using System.Linq.Expressions

@using WebHome.Controllers
@using WebHome.Helper
@using WebHome.Models
@using WebHome.Models.DataEntity
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using WebHome.DataPort
@using Utility
@using Newtonsoft.Json
@{

    ModelSource<LiveDevice> models;
    YoxiAgentViewModel _viewModel;

    models = ((SampleController<LiveDevice>)ViewContext.Controller).DataSource;
    _viewModel = (YoxiAgentViewModel)ViewBag.ViewModel;
    IEnumerable<String> _model = this.Model as IEnumerable<String>;
    bool hasOrder = false;
}

<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        @*<td valign="top">
                <img src="~/images/TaxiOrder_03.png" style="width:180px;" />
            </td>*@
        <td>
            <div>
                <div class="col-md-2">
                    <label class="label-info">服務單位</label>
                </div>
                <img src="~/images/yoxiLogoRed.svg" />
            </div>
            <hr />
        </td>
    </tr>
</table>

@if (_model?.Count() > 0)
{
    ViewBag.EnableDispatchCancel = false;

    foreach (var item in _model)
    {
        if (!File.Exists(item))
        {
            continue;
        }

        YoxiAgentViewModel viewModel = JsonConvert.DeserializeObject<YoxiAgentViewModel>(File.ReadAllText(item));
        String[] dataItem = item.Split('-');

        ViewBag.ViewModel = viewModel;
        ViewBag.HashID = dataItem[1];

        <div class="border_gray queryAction">
            <!--表格 開始-->
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="left_title">
                <tr>
                    <th>
                        住戶識別碼(resident ID)
                    </th>
                    <td class="tdleft" colspan="3">
                        <span>@(viewModel.ResidentID)</span>
                    </td>
                </tr>
            </table>
            <!--表格 結束-->
        </div>

        YoxiAgent agent = YoxiAgent.PrepareTaxiAgent(viewModel);
        var result = agent.DispatchQuery(dataItem[1]);

        hasOrder = true;
        Html.RenderPartial("~/Views/DeviceEvents/Module/YoxiOrderQueryItem.cshtml", result);
        //if (result != null)
        //{
        //}
        //else
        //{
        //    if (!viewModel.BookDate.HasValue
        //        || (DateTime.Now - viewModel.BookDate.Value).TotalSeconds >= YoxiAgent.TripOrderWaitingIntervalInSeconds)
        //    {
        //        File.Delete(item);
        //    }
        //}
    }
}
@if (!hasOrder)
{
    <div>尚無叫車資訊!!</div>
    @*<div class="row text-center">
            <button class="btn" type="button" onclick="dispatchQuery();">重新查詢</button>
        </div>*@
}
<script>
    $(function () {
        setTimeout(doYoxiQuery, 15000);
    });
</script>



