
@using System.IO
@using System.Linq.Expressions

@using WebHome.Controllers
@using WebHome.Helper
@using WebHome.Models
@using WebHome.Models.DataEntity
@using WebHome.Models.Locale
@using WebHome.Models.ViewModel
@using Utility
@using Newtonsoft.Json

@{
    Layout = "~/Views/Shared/MvcBlankPage.cshtml";

    ModelStateDictionary _modelState;
    ModelSource<LiveDevice> models;
    String _viewID = $"unpaidPI{DateTime.Now.Ticks}";

    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    models = ((SampleController<LiveDevice>)ViewContext.Controller).DataSource;
    UserProfile _model = this.Model as UserProfile;
    UserAccountQueryViewModel _viewModel = (UserAccountQueryViewModel)ViewBag.ViewModel;
}

<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Sip電話位址</h1>
                            </div>
                            <form class="user">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" name="RealName" placeholder="請輸入Sip電話位址" value="@(_model?.RealName)" />
                                </div>
                                <a href="javascript:commitResident();" class="btn btn-primary btn-user btn-block">
                                    確定
                                </a>
                                <hr>
                            </form>
                            @*<hr />*@
                            @{
                                string userAgent = Request.UserAgent;

                                if (userAgent != null)
                                {
                                    if (userAgent.ToLower().Contains("android"))
                                    {
                                        <a class="btn btn-primary btn-user btn-block" href="javascript:openApp();">開啟SIP雲端對講</a>
                                        <script>
                                            function openApp() {
                                                //window.location.href = "myapp://messagehub.awtek-security.com/open";
                                                window.location.href = "https://play.google.com/store/apps/details?id=com.dnake.smartlife.hongsheng";

                                                // 設置一個計時器,如果一定時間內APP沒有打開,則跳轉到應用商店
                                                setTimeout(function () {
                                                    //window.open("https://s1.awtek-security.com.tw/MessageCenter/Pub/messageHub.apk",'_blank');
                                                    window.location.href = "https://s1.awtek-security.com.tw/MessageCenter/Pub/messageHub.apk";
                                                }, 2000);
                                            }
                                        </script>
                                    }
                                    else if (userAgent.ToLower().Contains("iphone") || userAgent.ToLower().Contains("ipad"))
                                    {
                                        ViewBag.DeviceType = "iOS";
                                        <a class="btn btn-primary btn-user btn-block" href="javascript:openApp();">開啟SIP雲端對講</a>
                                        <script>
                                            function openApp() {
                                                //window.location.href = "myapp://messagehub.awtek-security.com/open";
                                                window.location.href = "dnakesmartlifehongsheng://";

                                                // 設置一個計時器,如果一定時間內APP沒有打開,則跳轉到應用商店
                                                setTimeout(function () {
                                                    //window.open("https://s1.awtek-security.com.tw/MessageCenter/Pub/messageHub.apk",'_blank');
                                                    window.location.href = "https://apps.apple.com/us/app/awtek-smart-home/id6738626135";
                                                }, 2000);
                                            }
                                        </script>
                                    }
                                    else
                                    {
                                        ViewBag.DeviceType = "Other";
                                    }
                                }
                                else
                                {
                                    ViewBag.DeviceType = "Unknown";
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script>
    function commitResident() {
        var formData = $('input,select,textarea').serializeObject();
        formData.KeyID = '@Html.Raw(_viewModel.KeyID)';
        clearErrors();
        doPost('@Url.Action("CommitResidentInfo", "InfoCenter")', formData, function (data) {
            if (data.result) {
                alertModal('資料修改完成!!');
            }
        });
    }
</script>